.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 160px;
}
.about-left {
  flex-basis: 35%;
  position: relative;
}
.about-right {
  flex-basis: 45%;
  text-align: justify;
}
.about-right h3 {
  color: #ef8720;
  font-size: 20px;
  font-weight: 500;
}
.about-right h2 {
  margin-top: 5px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4;
}
.about-right p {
  margin-top: 5px;
  line-height: 1.6;
}
.about-right li {
  line-height: 1.8;
}
.about-img {
  width: 100%;
  border-radius: 10px;
}
.experiences {
  background: #2c5777;
  width: 50%;
  height: 30%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
}
.experiences h2 {
  padding: 14px;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.experiences h2 span {
  font-size: 50px;
  font-weight: 600;
}

/* ----------responsive--- */
@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about-left {
    flex-basis: 80%;
    margin: 20px;
    padding: 20px;
  }
  .about-right {
    flex-basis: 80%;
    /* margin-top: 20px; */
  }
  .experiences {
    width: 40%;
    height: 20%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
  }
  .experiences h2 {
    padding: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }
  .experiences h2 span {
    font-size: 40px;
    font-weight: 600;
  }
}
