nav {
  width: 100%;
  background: linear-gradient(90deg, #fdfbfb, #fdfbfb, #10254e, #10254e);
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: 0.3s;
}

.logo {
  width: 190px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

nav ul li a {
  color: inherit;
  cursor: pointer;
  transition: color 0.3s;
}
/* Hover effect */
/* nav ul li a:hover {
  color: #ffcc00; 
} */

.nav-btn {
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ef8720;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.nav-btn:hover {
  background-color: #ef8720;
  color: #fff;
}

/* Active link style */
.active {
  color: #2c5777;
  font-weight: bold;
  border-bottom: 2px solid #2c5777;
  padding-bottom: 2px;
}

/* Active button style */
.active-btn .nav-btn {
  background-color: #2c5777;
  color: #fff;
}

/* Dark Nav when scrolling */
.dark-nav {
  background: linear-gradient(90deg, #f5f0f0, #3e537a);
  /* background: linear-gradient(90deg, #f5f0f0, #d7abab); */
  transition: 0.5s;
}
/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-title {
  color: inherit;
  font-size: 16px;
  transition: color 0.3s;
  /* user-select: none; */
}

.dropdown-title:hover {
  color: #ef8720;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 6px;
  padding: 8px 0;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
  background: #f4f4f4;
  color: #ef8720;
}

/* Mobile menu */
.menu-icon {
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    width: 140px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #212ea0;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }

  .mobile-menu-hidden {
    right: -200px;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .menu-icon {
    position: relative;
    z-index: 20;
  }
  @media (max-width: 840px) {
    .dropdown-menu {
      position: relative;
      box-shadow: none;
      background: transparent;
    }

    .dropdown-menu li a {
      padding: 8px 12px;
      color: #fff;
    }

    .dropdown-menu li a:hover {
      background: none;
      color: #ef8720;
    }
  }
}
